{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto",
        "loose": true,
        "targets": {
          "esmodules": true,
          "node": true,
        }
      }
    ]
  ]
}
